#!/usr/sbin/nft -f

flush ruleset

table inet main {

    chain input {

        type filter hook input priority 100; policy accept;
        ct state established,related accept
        iifname {lo, skynet} accept
        tcp dport ssh accept
        icmp type echo-request accept
        drop

    }

    chain forward {

        type filter hook forward priority 100; policy accept;
        ct state established,related accept
        iifname skynet accept
        drop

    }

    chain prerouting {

        type nat hook prerouting priority 100; policy accept;

    }

}
