#!/usr/sbin/nft -f

flush ruleset

{% for table_name, table_chains in nftables.items() -%}
table {{ table_name }} {

    {% for chain_name, chain_rules in table_chains.items() -%}
    chain {{ chain_name }} {

        {% for rule in chain_rules -%}
        {{ rule }}
        {% endfor %}

    }
    {% endfor %}

}
{% endfor %}
