#!/usr/sbin/nft -f

table inet main {


    chain input {

        iifname home tcp dport 53 accept
        iifname home udp dport 53 accept

    }

    chain forward {

        iifname home oifname != { skynet, lo, management } accept

    }

}
