#!/usr/sbin/nft -f

table inet isp_common {

    chain postrouting {

        type nat hook postrouting priority 100; policy accept;
        oifname isp1 masquerade
        
    }

    chain prerouting {
        
        type nat hook prerouting priority -100; policy accept;
        iifname isp1 tcp dport { 80, 443 } dnat ip to 192.168.123.3
        
    }

}
