#!/bin/python

import select, re, sys, os
from systemd import journal

Qmax = 100
Qmin = 0
Qstep = 10
Qpretty = 50
Q = Qmax

r = re.compile('^ping@.*_121\.service$')

Cup = '/bin/ip route replace default via 5.130.78.1 dev isp1 proto 112 metric 75'
Cdown = '/bin/ip route replace default via 109.174.122.1 dev isp2 proto 112 metric 75'

j = journal.Reader()
j.log_level(journal.LOG_INFO)

j.seek_tail()
j.get_previous()

p = select.poll()
p.register(j, j.get_events())

while p.poll():
    if j.process() != journal.APPEND:
        continue

    for entry in j:
        if 'UNIT' in entry and r.match(entry['UNIT']) and 'JOB_RESULT' in entry:
            if entry['JOB_RESULT'] == 'done':
                if (Q + Qstep) < Qmax or Q != Qmax:
                    if Q < Qpretty and (Q + Qstep) >= Qpretty:
                        os.system(Cup)
                    Q = Q + Qstep
            else:
                if (Q - Qstep) > Qmin or Q != Qmin:
                    if Q >= Qpretty and (Q - Qstep) < Qpretty:
                        os.system(Cdown)
                    Q = Q - Qstep
            print(entry['UNIT'], entry['JOB_RESULT'], Q)
            sys.stdout.flush()
