global_defs {

    path
        enable_script_security
    keepalived_script
        script_user root root

}

vrrp_instance {{ keepalived["vrrp_instance"]["name"] }} {

    notify /etc/keepalived/notify.sh
    notify_master "/usr/bin/systemctl start isc-dhcp-server"
    notify_backup "/usr/bin/systemctl stop isc-dhcp-server"
    notify_fault "/usr/bin/systemctl stop isc-dhcp-server"
    interface {{ keepalived["vrrp_instance"]["interface"] }}
    virtual_router_id {{ keepalived["vrrp_instance"]["id"] }}

    authentication {

        auth_type PASS
        auth_pass {{ keepalived["vrrp_instance"]["password"] }}

    }

    virtual_ipaddress {

        {% for member in keepalived["vrrp_instance"]["virtual_ipaddress"] %}
        {{ member }}
        {% endfor %}

    }

}
