global_defs {

    enable_script_security
    script_user root root
    notify_fifo "/tmp/keepalived_fifo.pipe"
    notify_fifo_script "/etc/keepalived/notify_fifo_script.sh"

}

vrrp_instance "gateway" {

    interface skynet
    virtual_router_id 1

    authentication {

        auth_type PASS
        auth_pass skynet

    }

    virtual_ipaddress {

        192.168.128.1 dev skynet

    }

    virtual_routes {

        0.0.0.0/0 via 5.130.78.1 dev isp1 metric 75 no_track

    }

}
