#!/bin/bash

if [[ $1 = "INSTANCE" ]] && [[ $2 = "{{ keepalived["instance_name"] }}" ]] && [[ $4 = "{{ keepalived["id"] }}" ]]; then

  if [[ $3 = "MASTER" ]]; then

    #ip link add link management name isp1 type vlan id 121
    #ip link add link management name isp2 type vlan id 122
    systemctl restart systemd-networkd

  else

    ip link del isp1
    ip link del isp2

  fi

fi
