#!/bin/bash

FIFO=$1

[[ ! -n $FIFO ]] && echo FIFO file not defined && exit 1
[[ ! -p $FIFO ]] && echo FIFO file not found \"$FIFO\" && exit 1

nomaster() {
  ip link set dev home_vlan nomaster 2>/dev/null
  ip link set dev isp1_vlan nomaster 2>/dev/null
  ip link set dev home_vlan up 2>/dev/null
  ip link set dev isp1_vlan up 2>/dev/null
}

master() {
  ip link set dev home_vlan down 2>/dev/null
  ip link set dev isp1_vlan down 2>/dev/null
  ip link set dev home_vlan master home 2>/dev/null
  ip link set dev isp1_vlan master isp1 2>/dev/null
}

close() {
  nomaster
  exit 0
}

trap close TERM HUP INT QUIT USR1 USR2 PIPE ALRM

while read LINE; do

  set $LINE

  [[ $1 = INSTANCE && ${2//\"/} = gateway && $3 = MASTER ]] && master
  [[ $1 = INSTANCE && ${2//\"/} = gateway && $3 = BACKUP ]] && nomaster
  [[ $1 = INSTANCE && ${2//\"/} = gateway && $3 = FAULT ]] && nomaster

done < $FIFO

nomaster
