[Unit]
Description=ping %I
After=network.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c "`/bin/awk \'BEGIN { print(\"/usr/bin/ping -c 1 \" gensub(/_/, \" -I \", 1 , \"%I\") ) }\'`"
StandardOutput=journal

[Install]
WantedBy=multi-user.target
