{
  "name": "default",
  "data-dir": null,
  "wal-dir": null,
  "snapshot-count": 10000,
  "heartbeat-interval": 100,
  "election-timeout": 1000,
  "quota-backend-bytes": 0,
  "listen-peer-urls": "http://localhost:2380",
  "listen-client-urls": "http://localhost:2379",
  "max-snapshots": 5,
  "max-wals": 5,
  "cors": null,
  "initial-advertise-peer-urls": "http://localhost:2380",
  "advertise-client-urls": "http://localhost:2379",
  "discovery": null,
  "discovery-fallback": "proxy",
  "discovery-proxy": null,
  "discovery-srv": null,
  "initial-cluster": null,
  "initial-cluster-token": "etcd-cluster",
  "initial-cluster-state": "new",
  "strict-reconfig-check": false,
  "enable-v2": true,
  "enable-pprof": true,
  "proxy": "off",
  "proxy-failure-wait": 5000,
  "proxy-refresh-interval": 30000,
  "proxy-dial-timeout": 1000,
  "proxy-write-timeout": 5000,
  "proxy-read-timeout": 0,
  "client-transport-security": {
    "cert-file": null,
    "key-file": null,
    "client-cert-auth": false,
    "trusted-ca-file": null,
    "auto-tls": false
  },
  "peer-transport-security": {
    "cert-file": null,
    "key-file": null,
    "client-cert-auth": false,
    "trusted-ca-file": null,
    "auto-tls": false
  },
  "debug": false,
  "logger": "zap",
  "log-outputs": [
    "stderr"
  ],
  "force-new-cluster": false,
  "auto-compaction-mode": "periodic",
  "auto-compaction-retention": "1"
}
