{
    "name": "cookie-monster.ru",
    "records": [
        {
            "name": "cookie-monster.ru.",
            "type": "A",
            "content": "{{ vrrp.vip.isp1.address }}",
            "ttl": 300
        },
        {
            "name": "*.cookie-monster.ru.",
            "type": "A",
            "content": "{{ vrrp.vip.isp1.address }}",
            "ttl": 300
        }
    ]
}
