{
    "name":"cookie-monster.ru",
    "records":[
        {
            "name": "cookie-monster.ru.",
            "type": "A",
            "content": "109.174.122.53",
            "ttl": 300
        },
        {
            "name": "*.cookie-monster.ru.",
            "type": "A",
            "content": "109.174.122.53",
            "ttl": 300
        }
    ]
}
