[Unit]
Description=ISP pretty checker
After=network.target
PartOf=keepalived-gateway.target

[Service]
Type=simple
ExecStart=/usr/local/bin/ispretty.py
StandardOutput=journal

[Install]
WantedBy=multi-user.target
