global_defs {

    enable_script_security
    script_user root root
    notify_fifo "/tmp/keepalived.fifo"
    notify_fifo_script "/etc/keepalived/notify_fifo_script.sh"

}

static_rules {

    {% for key, value in vrrp.items() -%}
    {% if value["routeMark"] is defined -%}
    fwmark {{ value["routeMark"] }} lookup {{ value["routeMark"] }}
    from {{ value["vip"] }} lookup {{ value["routeMark"] }}
    {% endif -%}
    {% endfor %}

}

vrrp_instance "gateway" {

    interface skynet
    virtual_router_id 1

    authentication {

        auth_type PASS
        auth_pass skynet

    }

    virtual_ipaddress {

        {% for key, value in vrrp.items() -%}
        {{ value["vip"] }}/{{ value["network"] }} dev {{ key }}
        {% endfor %}

    }

    virtual_routes {

        {% for key, value in vrrp.items() -%}
        {% if value["defaultRoute"] is defined and value["defaultRoute"] is sameas true -%}
        0.0.0.0/0 via {{ value["gateway"] }} dev {{ key }} metric 75 no_track
        {% endif -%}
        {% if value["routeMark"] is defined -%}
        0.0.0.0/0 via {{ value["gateway"] }} dev {{ key }} table {{ value["routeMark"] }} no_track
        {% endif -%}
        {% endfor %}

    }

}
