global_defs {

    enable_script_security
    script_user root root
    notify_fifo "/tmp/keepalived.fifo"
    notify_fifo_script "/etc/keepalived/notify_fifo_script.sh"

}

static_rules {

    {% for key, value in networking.vrrp.vip.items() -%}
    {% if value["fwmark"] is defined -%}
    fwmark {{ value["fwmark"] }} lookup {{ value["fwmark"] }}
    from {{ value["address"] }} lookup {{ value["fwmark"] }}
    {% endif -%}
    {% endfor %}

}

vrrp_instance "gateway" {

    interface {{ networking.vrrp.device }}
    virtual_router_id {{ networking.vrrp.id }}
    higher_prio_send_advert "true"
    priority {{ networking.vrrp.priority }}
    preempt

    authentication {

        auth_type PASS
        auth_pass {{ networking.vrrp.password }}

    }

    virtual_ipaddress {

        {% for key, value in networking.vrrp.vip.items() -%}
        {{ value["address"] }}/{{ value["network"] }} dev {{ key }}
        {% endfor %}

    }

    virtual_routes {

        {% for key, value in networking.vrrp.vip.items() -%}
        {% if value["default"] is defined and value["default"] is sameas true -%}
        0.0.0.0/0 via {{ value["gateway"] }} dev {{ key }} metric 75 no_track
        {% endif -%}
        {% if value["fwmark"] is defined -%}
        0.0.0.0/0 via {{ value["gateway"] }} dev {{ key }} table {{ value["fwmark"] }} no_track
        {% endif -%}
        {% endfor %}

    }

}
