server:
  verbosity: 1
  {% for interface in unbound.interfaces -%}
  interface: {{ interface }}
  {% endfor %}
  ip-transparent: yes
  do-ip6: no

  {% for network in unbound.allow_networks -%}
  access-control: {{ network }} allow
  {% endfor %}

  cache-max-ttl: 3600
  cache-max-negative-ttl: 60
  cache-min-ttl: 60

  hide-identity: yes
  hide-version: yes
  minimal-responses: yes
  qname-minimisation: yes
  prefetch: yes
  rrset-roundrobin: yes
  use-caps-for-id: yes
  tls-cert-bundle: "/etc/ssl/certs/ca-certificates.crt"

forward-zone:
  name: "."    
  forward-tls-upstream: yes
  {% for upstream in unbound.upstreams -%}
  forward-addr: {{ upstream["address"] }}@{{ upstream["port"] }}{{ "#" }}{{ upstream["name"] }}
  {% endfor %}
