---
apiVersion: kubeadm.k8s.io/v1beta2
kind: InitConfiguration
bootstrapTokens:
- token: {{ kubernetes.kubeadm.bootstrap.token }}
  description: {{ kubernetes.kubeadm.bootstrap.description }}
  ttl: {{ kubernetes.kubeadm.bootstrap.ttl }}
localAPIEndpoint:
  advertiseAddress: {{ networking.ip.skynet.address }}
  bindPort: {{ kubernetes.kubeadm.controlPlane.port }}
nodeRegistration:
  criSocket: "{{ containerd.criSocket }}"
  taints:
  - effect: NoSchedule
    key: node-role.kubernetes.io/master
certificateKey: {{ kubernetes.kubeadm.controlPlane.certificateKey }}
---
apiVersion: kubeadm.k8s.io/v1beta2
kind: JoinConfiguration
controlPlane:
  certificateKey: {{ kubernetes.kubeadm.controlPlane.certificateKey }}
  localAPIEndpoint:
    advertiseAddress: {{ networking.ip.skynet.address }}
    bindPort: {{ kubernetes.kubeadm.controlPlane.port }}
discovery:
  bootstrapToken:
    apiServerEndpoint: {{ networking.vrrp.vip.skynet.address }}:{{ kubernetes.kubeadm.controlPlane.port }}
    token: {{ kubernetes.kubeadm.bootstrap.token }}
    unsafeSkipCAVerification: true
  timeout: 5m0s
  tlsBootstrapToken: {{ kubernetes.kubeadm.bootstrap.token }}
nodeRegistration:
  criSocket: "{{ containerd.criSocket }}"
  taints:
  - effect: NoSchedule
    key: node-role.kubernetes.io/master
---
apiVersion: kubeadm.k8s.io/v1beta2
kind: ClusterConfiguration
networking:
  serviceSubnet: {{ kubernetes.kubeadm.networking.serviceSubnet }}
  podSubnet: {{ kubernetes.kubeadm.networking.podSubnet }}
kubernetesVersion: {{ kubernetes["version"] }}
controlPlaneEndpoint: {{ networking.vrrp.vip.skynet.address }}:{{ kubernetes.kubeadm.controlPlane.port }}
---
apiVersion: kubeproxy.config.k8s.io/v1alpha1
kind: KubeProxyConfiguration
mode: ipvs
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
