---
apiVersion: kubeadm.k8s.io/v1beta2
kind: InitConfiguration
bootstrapTokens:
- token: "abcdef.0123456789abcdef"
  description: "kubeadm bootstrap token"
  ttl: "24h"
localAPIEndpoint:
  advertiseAddress: {{ networkd["networks"]["skynet"]["address"] }}
  bindPort: 6443
nodeRegistration:
  criSocket: "unix:///run/containerd/containerd.sock"
  taints: {{ node["taints"] }}
---
apiVersion: kubeadm.k8s.io/v1beta2
kind: JoinConfiguration
caCertPath: /etc/kubernetes/pki/ca.crt
#controlPlane:
#  localAPIEndpoint:
#    advertiseAddress: {{ networkd["networks"]["skynet"]["address"] }}
#    bindPort: 6443
discovery:
  bootstrapToken:
    apiServerEndpoint: {{ vrrp["skynet"]["vip"] }}:6443
    token: abcdef.0123456789abcdef
    unsafeSkipCAVerification: true
  timeout: 5m0s
  tlsBootstrapToken: abcdef.0123456789abcdef
nodeRegistration:
  criSocket: "unix:///run/containerd/containerd.sock"
  taints: {{ node["taints"] }}
---
apiVersion: kubeadm.k8s.io/v1beta2
kind: ClusterConfiguration
networking:
  serviceSubnet: 10.96.0.0/12
  podSubnet: 10.88.0.0/16
kubernetesVersion: {{ kubernetes["version"] }}
controlPlaneEndpoint: {{ vrrp["skynet"]["vip"] }}:6443
---
apiVersion: kubeproxy.config.k8s.io/v1alpha1
kind: KubeProxyConfiguration
mode: ipvs
bindAddress: {{ networkd["networks"]["skynet"]["address"] }}
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
