[Unit]
Description=fake DHCP client
After=network.target
PartOf=keepalived-gateway.target

[Service]
Type=simple
ExecStart=/bin/busybox udhcpc -f -s /dev/null -i %I
StandardOutput=journal

[Install]
WantedBy=multi-user.target
