[Unit]
Description=keepalived controlled target
Requires=fakedhcpc@isp2.service
Requires=ispretty.service
{% for item in ispretty.list -%}
Requires=ping@{{ item.address }}_{{ item.fwmark }}.timer
{% endfor -%}
