{
  "cniVersion": "0.4.0",
  "name": "containerd-net",
  "plugins": [
    {
      "type": "bridge",
      "bridge": "podbridge",
      "ipam": {
        "type": "host-local",
        "ranges": [
          [
            {
              "subnet": "{{ ipam["subnet"] }}/{{ ipam["network"] }}",
					    "rangeStart": "{{ ipam["rangeStart"] }}",
					    "rangeEnd": "{{ ipam["rangeEnd"] }}",
					    "gateway": "{{ ipam["gateway"] }}"
            }
          ]
        ],
        "routes": [
          {
            "dst": "0.0.0.0/0"
          }
        ],
        "dns": {
          "nameservers": [
            "10.88.0.1"
          ]
        }
      }
    },
    {
      "type": "portmap",
      "capabilities": {"portMappings": true}
    },
    {
      "type": "firewall",
	    "backend": "nftables"
	  }
  ]
}
