{
  "cniVersion": "0.3.1",
  "name": "containerd-net",
  "plugins": [
    {
      "type": "macvlan",
      "master": "skynet",
      "mode": "bridge",
      "ipam": {
        "type": "host-local",
        "subnet": "{{ ipam["subnet"] }}/{{ ipam["network"] }}",
        "rangeStart": "{{ ipam["rangeStart"] }}",
        "rangeEnd": "{{ ipam["rangeEnd"] }}",
        "routes": [
          { "dst": "0.0.0.0/0", "gw": "{{ ipam["gateway"] }}" }
        ]
      }
    },
    {
      "type": "portmap",
      "capabilities": {"portMappings": true}
    }
  ]
}
