{
  "cniVersion": "0.4.0",
  "name": "containerd-net",
  "plugins": [
    {
      "type": "bridge",
      "bridge": "podbridge",
      "ipam": {
        "type": "host-local",
        "subnet": "{{ ipam["subnet"] }}/{{ ipam["network"] }}",
        "rangeStart": "{{ ipam["rangeStart"] }}",
        "rangeEnd": "{{ ipam["rangeEnd"] }}",
        "routes": [
          { "dst": "0.0.0.0/0", "gw": "{{ ipam["gateway"] }}" }
        ],
        "dns": {
          "nameservers": [
            "10.88.0.1"
          ]
        }
      }
    },
    {
      "type": "portmap",
      "capabilities": {"portMappings": true}
    },
    {
      "type": "firewall",
	    "backend": "nftables"
	  }
  ]
}
