options {

	directory "/var/cache/bind";
        listen-on port 53 { {{ keepalived["notify"]["skynet"]["address"] }}; {{ keepalived["notify"]["home"]["address"] }}; };

	forwarders {
	 	127.0.0.1 port 5353;
	};

	listen-on-v6 { none; };

};

zone "ns.skynet" {
    type master;
    file "/etc/bind/skynet/ns.skynet";
};

zone "ns.homenet" {
    type master;
    file "/etc/bind/homenet/ns.homenet";
};
