zone "nikolaeva18.ru" {
    type master;
    file "/etc/bind9/db.nikolaeva18.ru";
};

zone "xn--b1aactjgcxb5cxb9e.xn--p1ai" {
    type master;
    file "/etc/bind9/db.xn--b1aactjgcxb5cxb9e.xn--p1ai";
};
