options {

	directory "/var/cache/bind";
        listen-on port 53 { {{ keepalived["notify"]["skynet"]["address"] }}; {{ keepalived["notify"]["home"]["address"] }}; };

	forwarders {
	 	127.0.0.1 port 5353;
	};

	listen-on-v6 { none; };

};

zone "ns.skynet" {
    type master;
    file "/etc/bind/skynet/ns.skynet";
};

zone "ns.home" {
    type master;
    file "/etc/bind/home/ns.home";
};

zone "nikolaeva18.ru" {
    type master;
    file "/etc/bind/home/nikolaeva18.ru";
};

zone "xn--b1aactjgcxb5cxb9e.xn--p1ai" {
    type master;
    file "/etc/bind/home/xn--b1aactjgcxb5cxb9e.xn--p1ai";
};
