[NetDev]
Name=bond
Kind=bond

[Bond]
Mode=active-backup
PrimaryReselectPolicy=always
ARPValidate=active
ARPIntervalSec=1
ARPIPTargets={% for address in networking.arp_mon_list %}{{ address }} {% endfor %}
ARPAllTargets=any
FailOverMACPolicy=active
