[NetDev]
Name=management
Kind=bond

[Bond]
Mode=active-backup
PrimaryReselectPolicy=always
ARPValidate=active
ARPIntervalSec=1
ARPIPTargets={{ networkd["arp_mon"] }}
ARPAllTargets=any
FailOverMACPolicy=active
