[Match]
Name=skynet

[Network]
Address={{ networkd["networks"]["skynet"]["address"] }}/{{ networkd["networks"]["skynet"]["network"] }}

[Route]
Gateway={{ vrrp["vip"]["skynet"]["address"] }}
Metric=100
