#!/bin/python

import os

Cup = "{{ route_selector.up }}"
Cdown = "{{ route_selector.down }}"

def hook(h, m, Q):
    if m == "{{ route_selector.mark }}":
        if h == 2:
            print("route_selector:", Cdown)
            os.system(Cdown)
        elif h == 3:
            print("route_selector:", Cup)
            os.system(Cup)
