#!/bin/python

import requests

luaUser = "{{ luadns.luaUser }}"
luaPassword = "{{ luadns.luaPassword }}"
luaZoneURI = "https://api.luadns.com/v1/zones/43583"

isp1 = 1 # 0
isp2 = 1 # 0
lua = 0 # 1

CONFIG_PATH = "/etc/luadns/"
J1 = open(CONFIG_PATH + "isp1.json").read()
J2 = open(CONFIG_PATH + "isp2.json").read()
J12 = open(CONFIG_PATH + "isp1+2.json").read()
Jcurrent = J12

def hook(h, m, Q):
    global isp1, isp2, lua, Jcurrent
    if h == 2 or h == 3:
        lua = 0
        if m == "121":
            if Q.current >= Q.pretty:
                isp1 = 1
                if isp2 == 1:
                    Jcurrent = J12
                else:
                    Jcurrent = J1
            else:
                isp1 = 0
                if isp2 == 1:
                    Jcurrent = J2
                else:
                    lua = 1
        if m == "122":
            if Q.current >= Q.pretty:
                isp2 = 1
                if isp1 == 1:
                    Jcurrent = J12
                else:
                    Jcurrent = J2
            else:
                isp2 = 0
                if isp1 == 1:
                    Jcurrent = J1
                else:
                    lua = 1
    if lua == 0:
        print("luadns: updating state / isp1 =", isp1, ", isp2 =", isp2)
        response = requests.put(
            luaZoneURI,
            auth = requests.auth.HTTPBasicAuth(luaUser, luaPassword),
            headers = {"Accept": "application/json"},
            data = Jcurrent
        )
        print("luadns: response =", response, "/", response.text)
        if response.status_code == 200:
            lua = 1
