option domain-name "skynet";
option domain-name-servers {{ networkd.networks.home.address }};

default-lease-time 600;
max-lease-time 7200;

ddns-update-style none;

authoritative;

subnet {{ dhcpd.home.subnet }} netmask {{ dhcpd.home.netmask }} {

  option routers {{ networkd.networks.home.address }};
  range {{ dhcpd.home.range }};

  on commit {
    execute("/etc/dhcp/notify.sh", "schedule");
  }

  on release {
    execute("/etc/dhcp/notify.sh", "schedule");
  }

}
