option domain-name "skynet";
option domain-name-servers {{ shared_addresses["home_router"]["address"] }};

default-lease-time 600;
max-lease-time 7200;

ddns-update-style none;

authoritative;

subnet {{ dhcpd["home"]["subnet"] }} netmask {{ dhcpd["home"]["netmask"] }} {

  option routers {{ shared_addresses["home_router"]["address"] }};
  range {{ dhcpd["home"]["range"] }};

  on commit {
    execute("/etc/dhcp/notify.sh", "schedule");
  }

  on release {
    execute("/etc/dhcp/notify.sh", "schedule");
  }

}
