#!/bin/bash

LEASES=/var/lib/dhcp/dhcpd.leases
TIMEOUT=3

if [[ $1 = "schedule" ]]; then

  $0 push &

fi

if [[ $1 = "pull" ]]; then

  etcdctl get dhcpd.leases >$LEASES || true

fi

if [[ $1 = "push" ]]; then

  sleep $TIMEOUT
  etcdctl mk dhcpd.leases "$(cat $LEASES)" || etcdctl update dhcpd.leases "$(cat $LEASES)"

fi
